body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0d485b; /* Blue background */
}


.headertitle {
    background-color: #0b292d;
    text-align: center;
    box-shadow: 0 0 15px #0b292d;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "source-sans-pro", sans-serif;
}


.toplogo {
    padding-top: 15vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Align items horizontally to the center */
    height: auto; /* Set height of container to full viewport height */
    width: auto;
}

.toplogo img {
    width: 25vh; /* Adjust the width to make it smaller */
    height: auto; /* Automatically adjust height while maintaining aspect ratio */
}



.downloadcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
    border: .3vh solid #25bcb9;
    border-radius: 50vh;
    padding: .8vh 3vh; /* Adjust padding for both top/bottom and left/right */
    min-width: 120px; /* Set a minimum width */
    max-width: 120px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1.3rem;
    margin: 5vh auto; /* Center horizontally */
    transition: background-color, transform 0.3s;
}

.download {
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.downloadcontainer:hover {
    background-color: #25bcb9;
    transform: scale(1.05);
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
    .downloadcontainer {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
    border: .3vh solid #25bcb9;
    border-radius: 50vh;
    padding: .8vh 3vh; /* Adjust padding for both top/bottom and left/right */
    min-width: 120px; /* Set a minimum width */
    max-width: 120px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1.3rem;
    margin: 5vh auto; /* Center horizontally */
    transition: background-color, transform 0.3s;
    }

    .downloadcontainer:hover {
        background-color: #25bcb9;
        transform: scale(1.05);
    }
}

.fa-solid {
    text-align: center;
    margin-left: 6%; /* Adjust margin between icon and text */
}



.ourteam {
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 0vh;
    /*text-decoration: underline;*/
}

/*ID CARD 1*/

.idcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
    transition: scale 0.3s ease;
}

.idcard .profilepic {
    max-width: 20vh;
    max-height: 20vh;
    margin-left: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
}


.name, .position, .connect, .contact-info {
    position: absolute;
    left: 5%; /* Adjust as needed */
    text-align: left;
    font-family: "Arimo", sans-serif;
    color: #0b292d;
}

.name {
    top: 0%;
    font-weight:500;
}

.position {
    top: 15%;
    font-size: .8rem;
    font-weight: 400;
}

.connect {
    top: 35%;
    font-weight: 400;
}

.linkedin {
    width: 60%;
    position: absolute;
    top: 150%;
}

.connect .linkedin {
    margin: 0;
    vertical-align: middle; /* Align vertically in case the image has extra space */
    margin-right: 5px; /* Add some space to the right of the LinkedIn logo */
}

.contact-info {
    top: 65%;
    left: 5%;
    line-height: 2.5vh;
    font-weight: 400;
    font-size: .9rem;
}

.idcard-container .ashtonslogo2 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}

/*ID CARD 2 DESKTOP*/

@media only screen and (min-width: 765px) {
.idcard-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard2 {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
    transition: scale 0.3s ease;
}

.idcard2 .profilepic2 {
    max-width: 20vh;
    max-height: 20vh;
    margin-left: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
}


.name2, .position2, .connect2, .contact-info2 {
    position: absolute;
    left: 5%; /* Adjust as needed */
    text-align: left;
    font-family: "Arimo", sans-serif;
    color: #0b292d;
}

.name2 {
    top: 0%;
    font-weight:500;
}

.position2 {
    top: 15%;
    font-size: .8rem;
    font-weight: 400;
}

.connect2 {
    top: 35%;
    font-weight: 400;
}

.linkedin2 {
    width: 60%;
    position: absolute;
    top: 150%;
}

.connect2 .linkedin2 {
    margin: 0;
    vertical-align: middle; /* Align vertically in case the image has extra space */
    margin-right: 5px; /* Add some space to the right of the LinkedIn logo */
}

.contact-info2 {
    top: 65%;
    left: 5%;
    line-height: 2.5vh;
    font-weight: 400;
    font-size: .9rem;
}

.idcard-container2 .ashtonslogo22 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}
.ashtonslogo22 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}
}

/*ID CARD 2 FOR MOBILE*/

@media only screen and (max-width:766px) {
.idcard-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard2 {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
}

.idcard2 .profilepic2 {
    max-width: 20vh;
    max-height: 20vh;
    margin-right: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: -3%;
}


.name2, .position2, .connect2, .contact-info2 {
    position: absolute;
    left: 45%; /* Adjust as needed */
    text-align: right;
    font-family: "Arimo", sans-serif;
    white-space: nowrap;
    color: #0b292d;
}

.name2 {
    top: 0%;
    left: 62%;
    font-weight:500;
}


.position2 {
    top: 4vh;
    font-size: .8rem;
    font-weight: 400;
    left: 67%;
}

.connect2 {
    top: 35%;
    left: 54%;
    font-weight: 400;
}

.linkedin2 {
    width: 70%;
    left: 27%;
    position: absolute;
    top: 150%;
}

.connect2 .linkedin2 {
    margin: 0;
    vertical-align: right; /* Align vertically in case the image has extra space */
    margin-right: 5vh; /* Add some space to the right of the LinkedIn logo */
}

.contact-info2 {
    top: 65%;
    left: 50%;
    line-height: 147.5%;
    font-weight: 400;
    font-size: .9rem;
}

.ashtonslogo22 {
    position: absolute;
    top: 85%;
    right: 67%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}

}

.transparentbox {
    background-color: #0d485b;
    bottom: 0;
    height: 0px;
    width: 100%;
}

.thankyou {
    z-index: 1;
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    font-size: .7rem;
    padding-top: 1vh;
    /*text-decoration: underline;*/
}


footer {
    position: absolute; /* or position: relative; */
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%; /* Ensures the footer spans the full width of its containing element */
    background-color: #0b292d; /* Example background color */
    padding: 5px; /* Example padding */
    text-align: center; /* Example text alignment */
    font-family: "Arimo", sans-serif;
    font-size: .7rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    height: 2vh;
}
    /* Other styles for your footer */


footer a {
    color: inherit;
    text-decoration: none;
}


.idcard:hover, .idcard2:hover {
    scale: 105%;
}

.hello {
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 4vh;
    text-decoration: none;
    transition: color 0.5s ease;
}

.questions {
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    margin: 0;
    font-size: 1.5rem;
}


.hello :link {
    text-decoration: underline;
    color: white;
}

.hello :hover {
    color: #25bcb9;
    transition: color 0.5s ease;
}

video {
    position: relative;
    align-items: center;
}

/*------- LINKEDIN */

.linkedin-container {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.linkedin-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post1 {
    margin: 0 10px; /* Adjust margin between posts */
    text-align: center; /* Center contents */
    position: relative; /* Position relative for absolute positioning of logo */
}

.linkedinpost {
    width: 45vh;
    border-top: 5vh solid white;
    border-bottom: 8vh solid white;
    border-radius: 3vh;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.post1:hover {
    transform: scale(1.05);
}


.linkedinlogo {
    position: absolute; /* Position absolute to place logo at the top */
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1; /* Ensure logo is above the post content */
    width: 25%;
    max-width: 25%;
}


.linkedinlogo img {
    width: 6vh;
    height: auto;
}

.post1,
.post2 {
    /* Removed :hover pseudo-class */
    transform: scale(1);
    margin-right: 3vh;
    transition: transform 0.2s;
}

.social-buttons {
    bottom: 6vh; /* Adjust bottom position */
    position: absolute; /* Position absolute to place buttons at the bottom */
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    z-index: 2; /* Ensure buttons are above the post content */
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-buttons a {
    margin: 0 30px; /* Adjust margin between buttons */
    text-decoration: none;
    color: #0d485b;
    font-family: "source-sans-pro", sans-serif;
    cursor: pointer;
    transition: color 0.3s;
}

.social-buttons :hover {
    transform: scale(1.05);
    color: #25bcb9;
}

.post1:hover {
    transform: scale(1.05);
}

@media only screen and (max-width:766px) {
    .social-buttons {
        bottom: 6vh; /* Adjust bottom position */
        position: absolute; /* Position absolute to place buttons at the bottom */
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
        z-index: 2; /* Ensure buttons are above the post content */
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .post1 {
        margin: 20px 20px;
    }

}

.events {
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    font-weight: 600;
    margin-top: 5vh;
    font-size: 1.5rem;
}

/*VIDEO VIRTUAL HUB*/

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%; /* Ensure the video container doesn't exceed the specified width */
    margin: 3vh auto;
    margin-bottom: 5vh; /* Add a gap at the bottom */
    border: 5px solid white; /* Apply border to the video container */
}

.video-container video {
    width: 100%; /* Set the video width to fill its container */
    height: auto; /* Allow the video to maintain its aspect ratio */
}


